:root{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  color: rgba(255, 255, 255, 0.802);
  font-size: 20px; 
}

#evaluation-remark{
  font-weight: normal;
}

.mainBody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

.showOptions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

select{
  font-size: 18px;
  padding: 8px;
  border: none;
  border-radius: 10px;
  background-color: #434343;
  margin: 10px;
}

textarea{
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #434343;
  text-align: center;
}

#evaluation-remark{
  width: 1000px;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons button{
  width: 120px;
}

#clearButton{
  background-color: rgba(141, 58, 13, 0.704);
}